Flask==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-WTF==1.2.1
Werkzeug==3.0.1
gunicorn==21.2.0
python-dotenv==1.0.0
PyMySQL
cryptography
Flask-Limiter==3.5.0
requests==2.31.0
python-magic==0.4.27
fib-python-payment-sdk==0.1.10
